
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
}


body{
    font-family:'Times New Roman', Times, serif;
    font-weight:300;
    color:white;
    background-color:goldenrod
}

h1{
    text-align:center;
}

h2{
    font-family:'Courier New', Courier, monospace;
    font-weight:700;
    letter-spacing:5px;
    text-transform:capitalize;
    text-decoration: underline;
    clear:both;
    display:inline;
    margin-right:50px;
    
}

p, td, th, label, input, legend {
    font-family: 'lato',sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
}

.top-header { 
	width: 100%; 
	background-image: url(https://assets-eu-01.kc-usercontent.com/aa24ba70-9a12-01ae-259b-7ef588a0b2ef/7db334c0-e03c-4956-9f7c-defb168ee581/header-westport-town-mayo.jpg); 
	background-size: cover; 
	background-position: center; 
} 
.top-header > h1 { 
	color: beige; 
	padding: 2em 1em; 
	font-family: sans-serif; 
} 

a:hover{
    cursor:pointer;
    text-decoration:none;
}

#nav-menu{
    letter-spacing: 4px;
    font-size:50px;
    margin:0;
    padding:0;
}

#menu{
    background-color:beige;
    color:goldenrod;
}

#menu{
    list-style-type:none;
    font-size:50%;
    clear:none;
    
}

#menu li{
    display:inline;
    text-decoration:none;
}

#menu a {
    text-decoration:none;
    letter-spacing:4px;
    margin-left:40px;
    font-size:50px;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;


}

#menu a:hover{
    text-decoration:underline;
}

#about-us {
    margin-top: 40px;
}

#about-us h2 {
margin-left: 40px;
}

#about-us p {
margin: 40px;
}

#about-us h2 {
text-decoration: underline;
}

.service-table {
    text-align: center;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 33.3%;
    table-layout: fixed;
    border: 1px solid #3a3a3a;
}

#service-section {
    clear:both;
    float:left;
}

#service-h2 {
    text-align: left;
    margin-left: 40px;
    padding-top: 20px;
}

.table-th {
    font-weight: bold;
    padding-top: 20px;
}

tr > td {
    padding: 5px;
}

.mapouter {
    clear:right;
    position: static;
    text-align:center;
    height: 200px;
    width: 100%;
    float:left;
}

footer {
    height: 50px;
    border-style:solid;
}

.main-table-opening-times {
    width: auto;
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'lato', sans-serif;
    line-height: 170%;
}

.table-opening-times {
    font-weight: 700;
    font-family: 'lato', sans-serif;
    text-decoration: underline;
}

.logo-footer {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 20px;
}

.social-networks {
    clear: both;
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 2% 5%;
    color: #3a3a3a;
}

#copyright {
    text-align: center;
}

#your-details {
    margin-left: 10%;
    padding: 5px;
    color: #3a3a3a;
    background-color: #CBC0E0;
    font-weight: 900;
    text-decoration: underline;
}
label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label, textarea {
    float:left;
}

.send-form {
    margin-left: 190px;
    margin-top: 1%;
    background-color: #3a3a3a;
    color: #CBC0E0;
}

.reset-form {
    margin-left: 1%;
    margin-top: 1%;
    background-color: #3a3a3a;
    color: #CBC0E0;
}

.photos {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 50px; 
}
